.pageWrapper {
  position: relative;
  margin-top: 8px;
  height: calc(100% - 8px);
  border: 20px solid #192C38;
  padding: 8px;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.playButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playButton {
  width: 100%;
}

/* HiLo Game area */
.gameAreaWrapper {
  flex: 1 1 1160px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.cardPreviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  height: 340px;
  width: 215px;
  color: #8B9AA5;
  font-weight: bold;
}

.playingCardPreview {
  border: 1px solid #8B9AA5;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  height: 275px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rotatedText {
  transform: rotate(90deg);
}

.rotatedTextReverse {
  transform: rotate(270deg);
}

.infoButton {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
}