@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family:             Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-button-text:     #262f43;
  --color-primary:         #3dc100;
  --color-secondary:       #ffd800;
}

body {
  background-color: #12222D;
  color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}
